* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    line-height: 1.7; 
}

.background {
    background: url(img/background6.jpg);
    background-size: cover;
    height: 100vh;
}

.logo {
  border-radius: 50%;
    margin-top: 274px;
    width: 4.5em;
    height: 4.5em;
    transform: translate(-528px, -136px);
}

.navbar {
    height: 68px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: inherit;
    margin-right: 50px;
    
}
 .navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.navbar ul li a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 6px 13px;
    font-family: sans-serif;
    transition: 0.4s;
}

.navbar ul li a:hover {
    border-bottom: 2px solid salmon;
}

.banner {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: 'Aladin', cursive;
    font-size: 3rem;
}

.banner h1 {
    font-size: 100px;
    color: salmon;
}

.banner p {
    margin: 20px auto;
    font-weight: 20px;
    line-height: 25px;

}

section {
    padding: 8rem 0; 
  }

.container{
    background-color:#FFFFFF ;
    width: 81vw;
    height: 100vh;
    padding: 0 12rem;
}

.containerbanner{
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding-top: 100px;
}

.parent {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.teams {
    width: 100%;
    background-color: #fff; 
    font-size: 1.5rem;
  }
  
  .teams .row {
    width: 100%;
    display: flex;
    gap: 10rem;
    align-items: center; 
    
  }
  
    .teams-title {
      width: 40%; 
    }
  
    .teams-details {
      width: 60%;
      display: block; }
  
    .teams-gallery {
      width: 85%;
      margin-left: 7.7rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      row-gap: 2rem;
      column-gap: 2rem;
      justify-content: flex-end; }
  
      .teams-gallery__list {
        width: 100%;
        position: relative;
        cursor: pointer; }
        .teams-gallery__list:nth-child(1), .teams-gallery__list:nth-child(4), .teams-gallery__list:nth-child(3), .teams-gallery__list:nth-child(6) {
          top: 12rem; }
        .teams-gallery__list:last-child {
          grid-column: 2 / 3; }
        .teams-gallery__list img {
          position: relative;
          display: inline-block;
          width: 100%;
          z-index: 99; }
        .teams-gallery__list::after {
          position: absolute;
          content: "";
          width: 30%;
          height: 30%;
          background-color: #29ABE2;
          left: -.5rem;
          top: -.5rem;
          visibility: hidden;
          transition: all .4s ease-in; }
        .teams-gallery__list:hover .teams-gallery__info {
          bottom: .4rem;
          visibility: visible; }
        .teams-gallery__list:hover::after {
          visibility: visible; }
      .teams-gallery__info {
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 60%;
        content: "";
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-transition-backdrop-filter: blur(18px);
        -moz-transition-backdrop-filter: blur(18px);
        -ms-transition-backdrop-filter: blur(18px);
        -o-transition-backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        backdrop-filter: blur(18px);
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        transition: bottom .2s linear; }
        .teams-gallery__info .name {
          font-size: 2rem;
          font-weight: 600; }
        .teams-gallery__info .title {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 400;
          border-bottom: 1px solid #000;
          line-height: 1.5; }

.footer {
    background: #250804;
    color: #fff; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between; 
  }
  
  .footer-container_row {
    display: flex;
    gap: 8rem;
    margin: 8rem 0 0 15rem; 
  }
  
  .footer-container_heading {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.2; 
  }
  .footer-item {
    list-style: none;
    font-size: 1.4rem;
    opacity: 0.6;
    padding: 0.5rem 0; 
  }
  
  .footer-bottom_text {
      text-align: center;
      font-size: 1.5rem;
      padding: 1.5rem 0; 
      background-color: #3E211D;
  }
  .col-60{
      width: 60%;
      font-size: 1.4rem;
  }

  .col-40{
      width: 40%;
  }

  .col-6{
    width: 35vw;
  }
  .form-control {
    border: 1px solid #E4E4E4;
    padding: 1rem;
    border-radius: .4rem;
    margin: 20px;
    font-family:inherit;
    font-size: inherit;
  }

  textarea {
    width: 75vw;
  }

  form {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin: 10rem;
    padding: 20px;
    border-radius: 5px;
  }

  .form-group {
    display: inline;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
 }

 .form-button{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .btn{
  padding: 1.5rem 3rem;
   color: #FFF;
   background-color: #250804;
   border: none;
   text-align: center;
   border-radius: .5rem;
 }

 .mason{
  background-color: #D2EDF9;
}
.mason-1{
  height: 301px;
  width: 290px;
}
.grid-12{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
}
.mason-12{
  height: 301px;
}
.full{
  grid-column-start: 1;
  grid-column-end:   4;
  height: 199px;
}
.grid-13{
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0 12rem;
  margin-top: 5rem;
}
.side{
  height: 487px !important;
  grid-row-start: 1;
  grid-row-end:   4;
}
.mason-13{
  height: 232px;
}

#gallery {
  background-color: #250804;
}

.mason-img{
  height: inherit;
  width: 100%;
}

h2 {
  font-size: 3.8rem;
  color: #250804;
  font-family: inherit;
  padding: 0 14rem;

}
.text-white{
  color: #FFF;
}

.card{
  width: 23vw;
  margin: 2rem;
 

}

.card-header {
  background-color: salmon;
  color: #FFF;
  padding: 2rem;
}

.card-body {
  background-color: #FFF;
  padding: 2rem;

}

.card-body ul li {
  list-style: none;
}

#pricelist {
  background-color: #250804;

}

.card-row {
  margin-top: 5rem;
  display: flex;
  padding: 0 12rem;
}